<header id="header">
	<nav class="left" >
		<a href="#menu"><span>Menu</span></a>
		<!--<a href="schedule.php" class="button alt"><span>SCHEDULE</span></a>-->
		<!--<a href="student.php" class="button alt"><span>STUDENT</span></a>-->
		<!--<a href="session.php" class="button alt"><span>SESSION</span></a>-->
		<!--<a href="project.php" class="button alt"><span>PROJECT</span></a>-->
		<!--<a href="booth.php" class="button alt"><span>BOOTH</span></a>-->
		<!--a href="judge.php" class="button alt"><span>JUDGE</span></a-->
		

	</nav>

	<a href="index.php" class="logo">SEFi</a>

	<nav class="right">
	<a href="logout.php" class="button alt"><span>LOGOUT</span></a>
	</nav>
</header>