<ul class="links">
	<li><a href="logout.php" class="button fit">Log out</a></li>
	<li><a href="?table=ADMIN">ADMIN</a></li>
	<li><a href="?table=ADMIN_LEVEL">ADMIN LEVEL</a></li>
	<li><a href="?table=BOOTH">BOOTH</a></li>
	<li><a href="?table=CATEGORY">CATEGORY</a></li>
	<li><a href="?table=CITY">CITY</a></li>
	<li><a href="?table=COUNTY">COUNTY</a></li>
	<li><a href="?table=GENDER">GENDER</a></li>
	<li><a href="?table=JUDGE">JUDGE</a></li>
	<li><a href="?table=JUDGE_CATEGORY_PREFERENCE">JUDGE CATEGORY PREFERENCE</a></li>
	<li><a href="?table=JUDGE_GRADE_PREFERENCE">JUDGE GRADE PREFERENCE</a></li>
	<li><a href="?table=PROJECT">PROJECT</a></li>
	<li><a href="?table=PROJECT_GRADE_LEVEL">PROJECT GRADE LEVEL</a></li>
	<li><a href="?table=SCHEDULE">SCHEDULE</a></li>
	<li><a href="?table=SCHOOL">SCHOOL</a></li>
	<li><a href="?table=STATE">STATE</a></li>
	<li><a href="?table=STUDENT">STUDENT</a></li>
</ul>
